<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <p id="criar-contrato-link" class="clickable">Novo Contrato</p>
        <p id="manage-account-link" class="clickable">Gerir Conta</p>
        <p id="configuracoes-link" class="clickable">Ajuda</p>
        <p id="log-atividades-link" class="clickable">Log de Atividades</p>
    </div>
    <SRPIT
</body>
</html>