/* RESET + BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #003366, #336699);
  background-size: cover;
  color: white;
}


li {
    transition: color 0.3s;
  }
  
  .ok {
    color: green;
  }
  
  .erro {
    color: red;
  }
  