<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinição de Senha</h1>
    <form id="passwordForm">
        <label for="senha">Nova Senha:</label>
        <input type="text" id="senha" placeholder="Nova senha" required pattern="\d{4,}" inputmode="numeric" title="A senha deve ter no mínimo 4 caracteres numéricos, sem espaços." />
        <button type="submit">Redefinir senha</button>
    </form>
    
    <script>
         document.addEventListener("DOMContentLoaded", function () {
            // Captura o token da URL
            const token = window.location.pathname.split("/").pop();

            // Evento de restrição de caracteres no campo de senha
            document.getElementById("senha").addEventListener("input", function(event) {
                // Remove qualquer caractere que não seja número
                this.value = this.value.replace(/\D/g, '');
            });

            document.getElementById("passwordForm").addEventListener("submit", async function (event) {
                event.preventDefault();

                const senha = document.getElementById("senha").value;

                // Regex para senha contendo somente números e sem espaços
                const passwordRegex = /^\d{4,}$/;

                // Validação da senha
                if (!passwordRegex.test(senha)) {
                    alert("A senha deve ter no mínimo 4 caracteres e ser composta apenas por números.");
                    return;
                }

                try {
                    // Envia a senha para o backend
                    const response = await fetch(`/set-password/${token}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ senha })
                    });

                    if (response.ok) {
                        alert("Senha redefinida com sucesso!");
                        window.location.href = "/login";
                    } else {
                        alert("Erro ao redefinir a senha. Tente novamente.");
                    }
                } catch (error) {
                    alert("Erro de conexão. Por favor, tente mais tarde.");
                    console.error(error);
                }
            });
        });
    </script>
</body>
</html>
