<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinição de Senha</h1>
    <form id="passwordForm">
        <label for="password">Nova Senha:</label>
        <input type="password" id="senha" placeholder="Nova senha" required>
        <button type="submit">Redefinir senha</button>
    </form>
    
    <script>
         document.addEventListener("DOMContentLoaded", function () {
            // Captura o token da URL
            const token = window.location.pathname.split("/").pop();

            document.getElementById("passwordForm").addEventListener("submit", async function (event) {
                event.preventDefault();

                const senha = document.getElementById("senha").value;

                // Regex para senha forte
                const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,}$/;

                // Validação da senha
                if (!passwordRegex.test(senha)) {
                    alert("A senha deve ter no mínimo 6 caracteres, incluindo letra maiúscula, minúscula, número e símbolo.");
                    return;
                }

                try {
                    // Envia a senha para o backend
                    const response = await fetch(`/set-password/${token}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ senha })
                    });

                    if (response.ok) {
                        alert("Senha redefinida com sucesso!");
                        window.location.href = "/login";
                    } else {
                        alert("Erro ao redefinir a senha. Tente novamente.");
                    }
                } catch (error) {
                    alert("Erro de conexão. Por favor, tente mais tarde.");
                    console.error(error);
                }
            });
        });
    </script>
</body>
</html>