<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/setpassword.css">
    <title>Redefinir Senha</title>
</head>
<body>
    
    <form id="passwordForm">
        <h2>Redefinição de Senha</h2>
        <p class="instrucoes">
            Defina sua nova senha abaixo. A senha deve conter <strong>apenas números</strong>, <strong>sem espaços</strong>, e ter no mínimo <strong>4 dígitos</strong>.
          </p>
        <label for="senha">Nova Senha:</label>
        <input type="text" id="senha" placeholder="Nova senha" required pattern="\d{4,}" inputmode="numeric" title="A senha deve ter no mínimo 4 caracteres numéricos, sem espaços." />
        <button type="submit">Redefinir senha</button>
    </form>
    
    <script src="/assets/js/setpassword.js"></script>
</body>
</html>