* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    width: 100%;
    background-color: #2c3e50; /* Cor de fundo elegante */
    padding: 10px 20px;
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    font-weight: bold; /* Deixa os textos em negrito */
    color: white; /* Texto branco para contraste */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombrinha para destacar */
    font-family: Arial, sans-serif;
}

.clickable {
    cursor: pointer;
    transition: color 0.3s ease;
}

.clickable:hover {
    color: #f39c12; /* Cor ao passar o mouse */
}

/* Garante que o conteúdo abaixo não fique escondido */
body {
    padding-top: 60px;
}