<!-- views/confirm.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Cadastro</title>
</head>
<body>
    <h1>Digite o código de confirmação</h1>
    <form action="/confirm" method="POST">
<form method="POST" action="/confirmar">
    <input type="text" name="confirmationCode" placeholder="Código de Confirmação" required />
    <button type="submit">Confirmar</button>
  </form>  
  
</body>
</html>
