<!-- views/confirm.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Cadastro</title>
    <link rel="stylesheet" href="/assets/js/confirm.css">
</head>
<body>
    <h1>Confirmar Código</h1>
    <form id="otpForm" action="/confirmlog" method="POST">
    <input type="text" id="otpInput" name="codigo" placeholder="Código de Verificação" required>
    <button type="button" id="verifyButton">Confirmar</button>
</form>  
    <script src="/assets/js/confirmlog.js"></script>
</body>
</html>
