<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="/assets/css/">
</head>
<body>
    <<h1>Bem-vindo, <%= nome %>!</h1>
    <p><strong>Email:</strong> <%= email %></p>
    <p><strong>Conta criada em:</strong> <%= dataCriacao %></p>
    
    <a href="/logout">Sair</a>
    <script src="/assets/js/dashboard.js"></script>
</body>
</html>
