<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="apagar">apagar usuario</button>
    <script>
        const a = window.document.getElementById('apagar');
        a.addEventListener('click', apagar);
        function apagar(){

        }
    </script>
</body>
</html>