<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinição de Senha</h1>
    <form id="passwordForm">
        <label for="password">Nova Senha:</label>
        <input type="password" id="senha" placeholder="Nova senha" required>
        <button type="submit">Redefinir senha</button>
    </form>
    
    <script href="/assets/js/setpass.js">
        
    </script>
</body>
</html>