<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redefinir Senha</title>
  <link rel="stylesheet" href="/assets/css/setpassword.css" />
</head>
<body>
  <div class="login-wrapper">

    <a href="login-direcao" class="logo-container">
      <img src="assets/images/conexaokamba.svg" alt="Logotipo" class="logo-img"/>
    </a>

    <div class="login-container">
      <form class="login-form" id="passwordForm">
        <h2>Redefinição de Senha</h2>

        <div class="input-group">
          <input type="text" id="senha" inputmode="numeric" required placeholder=" " />
          <label for="senha">Nova Senha</label>
          <small id="senhaErro" class="error-message"></small>
        </div>

        <button type="submit">Redefinir senha</button>

        <div class="alerta">
          <ul>
            <li id="regra-numeros">A senha deve conter apenas números.</li>
            <li id="regra-espacos">Não é permitido o uso de espaços.</li>
            <li id="regra-minimo">A senha deve ter no mínimo 4 números.</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <script src="/assets/js/setpassword.js"></script>
</body>
</html>
