<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>bem vindo a tela de login da cordenacao</h1>
    <p>para garantir a seguranca click no botao a baixo para enviar-mos um codigo de confirmacao ao eml da cordencao </p>
</body>
</html>