<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Coordenação</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo à tela de login da Coordenação</h1>
    <p>Para garantir a segurança, clique no botão abaixo para enviarmos um código de confirmação ao email da Coordenação.</p>

    <button id="enviarBtn">Enviar</button>

    <br><br>

    <input type="text" id="otpInput" name="codigo" placeholder="Código de Verificação" required disabled>
    <button id="confirmarBtn" disabled>Confirmar</button>
    <script src=="/assets/js/login-cordenacao.js"></script>
</body>
</html>