<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
          <form class="login-form" id="loginForm">
            <h2>Login</h2>
    
            <div class="input-group">
              <input type="email" id="email" required placeholder=" " />
              <label for="email">Email</label>
            </div>
    
            <div class="input-group">
              <input type="password" id="password" required placeholder=" " />
              <label for="password">Password</label>
            </div>
    
            <button type="submit">Entrar</button>
          </form>
        </div>

        <a href="login-cordenacao" class="admin-icon-link">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Admin login" class="admin-icon" />
        </a>

      </div>
    <script src="/assets/js/login.js"></script>
</body>
</html>